# Xcode
.DS_Store
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Archives
*.xcarchive

# User-specific Xcode files
*.xcuserdatad/
